extends layout

block content
    div
        p
            | Externe refs
        ul
            li
                a(href="#") documentatie win-export
            li
                a(href="#") shmdoc report
            li
                a(href="#") other

