extends layout

block content
    .row
        - var locations = [{ "alias": "depanne", "label": "De Panne"}, { "alias": "koksijdeoostduinkerke", "label": "Koksijde - Oostduinkerke"}, { "alias": "nieuwpoort" , "label": "Nieuwpoort"}, { "alias": "middelkerkewestende", "label": "Middelkerke - Westende"}, { "alias": "oostende", "label": "Oostende"}, { "alias": "bredene", "label": "Bredene"}, { "alias": "dehaanwenduine", "label": "De Haan - Wenduine"}, { "alias": "blankenberge", "label": "Blankenberge"}, { "alias": "zeebrugge", "label": "Zeebrugge"}, { "alias": "knokkeheist", "label": "Knokke - Heist"}, { "alias": "melle", "label": "Melle", "cls": "BL"}, { "alias": "ukkel", "label": "Ukkel", "cls": "BL"}]
        
        each loc, index in locations
            .col-xs-12.col-sm-6.col-md-4.col-lg-3.overlay-container
                .row
                    .col-xs-12.overlay(class=loc.cls)
                        h4= loc.label
                    .col-xs-12.cam(data-alias=loc.alias, data-label=loc.label)
                        br
                        br
                        | loading... 
                        br
                        = loc.label
                        br
                        | ...

    .fs
        div#focus.overlay-container.embed-responsive.embed-responsive-16by9
            .bar zeebrugge - test
            iframe(class="embed-responsive-item", src="http://ipcamlive.com/player/player.php?alias=zeebrugge&autoplay=true")

block scripts
     script(type="text/javascript", src="/javascripts/cams.js")
