extends layout

block content
    .row
        - var aliases = ["blankenberge", "bredene", "dehaanwenduine", "depanne", "knokkeheist", "koksijdeoostduinkerke", "middelkerkewestende", "nieuwpoort", "oostende", "zeebrugge", "melle", "ukkel"]
        
        each alias, index in aliases
            .col-xs-12.col-sm-6.col-md-4.col-lg-3.overlay-container
                .row
                    .col-xs-12.overlay
                        h4= alias
                    .col-xs-12.cam(data-alias=alias)
                        br
                        br
                        | loading... 
                        br
                        = alias
                        br
                        | ...

    .fs
        div#focus.overlay-container.embed-responsive.embed-responsive-16by9
            .bar zeebrugge - test
            iframe(class="embed-responsive-item", src="http://ipcamlive.com/player/player.php?alias=zeebrugge&autoplay=true")

block scripts
     script(type="text/javascript", src="/javascripts/cams.js")
