extends basic

block layout
    .layout(class= (menu === false ? "nomenu" : ""))
        header
            include includes/header.jade

        .wrapper
            article
                div(class= (fluid === true ? "container-fluid": "container") )
                    block content
            .push

        footer
            include includes/footer.jade

