extends layout

include mixins/win-blocks

block content
    div
        h1 List of available samples
        .row
            each item in samples
                .col-lg-4.col-md-4.col-sm-6.col-xs-12.thumbnail
                    +win-header(item, true, '/search', 'acceptance')

