extends layout

include mixins/search-form

block content

    h2 Selecteer WIN-API om te gebruiken
    .row
        each key in Object.keys(winapis)
            if (key.charAt(0) !== '_')
                .col-sm-3
                    a(href=mount + "/" + key).btn(class=(key === win._name ? 'btn-success' : 'btn-default')) #{key}
                    if (key === win._name && ! win.token)
                        +errorblock("Error - (token missing)", mount, win._name)

    h2 Zoek in de win-api volgens...
    .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            each form in forms
                +miniform(form, params, mount, win._name)
