@import "bootstrap";

html, body, body >.layout
    height: 100%;
body > .layout
    padding-top: 60px;
body > .layout.nomenu
    padding-top: 0px;
.wrapper
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; // the bottom margin is the negative value of the footer's height
.wrap
    padding: 0 1em 0 1em;
.wrapped
    background-color: #fafaff;
    border-radius: 5px;
    padding: 10px;

tr.imgrow
    td.imgrow-img > img
        width: 200px !important;
    &.img-deleted
        text-decoration: line-through;
    &.img-published
        background-color: rgba(100,200,0,0.5);
        font-weight: bold;


#footer, .push
    height: 60px; // .push must be the same height as .footer

#footer
    height: 60px;
    width: 100%;
    background-color: #222;
    border-color: #090909;
    color: #fff;

#footer.container .text-muted
    margin: 20px 0;

// fiche styling
.fiche
    margin: 1em;

    .fiche-block
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1em;
        background-color: #f5f5f5;
        margin-bottom: 2em;

        .title
            font-size: 2em;
            font-style: bold;

.overlay-container
    position: relative;
    
.overlay, .bar
    position: absolute;
    color: #fff;
    background-color: rgba(85, 78, 0, 0.5);
    z-index: 1;

.overlay.BL
    background-color: rgba(0, 0, 0, 0.5);
    
.imgframe 
    height: 360px;
    background-image: url("http://www.dekust.be/sites/default/themes/custom/dekust_2015_omega/logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

.fs
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    #focus
        z-index: 2;
        position: relative
        background-color: rgba(255, 255, 255, 0.4);
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        //display: none; // controlled by js
        
        .bar
            z-index: 3;
            font-size: 3em;