mixin win-links(id, mount, name)
    a.pull-right(href="http://win.westtoer.be/node/" + id + "/edit", target="_blank")
        span.glyphicon.glyphicon-pencil &nbsp;
    a.pull-right(href="http://win.westtoer.be/node/" + id, target="_blank")
        span.glyphicon.glyphicon-share &nbsp;
    if (mount && name)
        a.pull-right(href= mount + "/" + name + "/detail/" + id + ".pdf")
            span.glyphicon.glyphicon-print &nbsp;

mixin win-header(item, addlink, mount, name)
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        if (addlink)
            a.pull-right(href= mount + "/" + name + "/id?id=" + item.id)
                | #{item.lbl}
        else
            | #{item.lbl}

    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        if (item.adr)
            span.small.text-muted
                span.glyphicon.glyphicon-road
                |   #{item.adr}
    div.col-lg-4.col-md-4.col-sm-4.col-xs-4
        +win-links(item.id, mount, name)
    div.clearfix
